<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="20; url=/">
    {% endif %}
    <title>{{ site.title }} {% if page.title %} | {{ page.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/grayscale.css" rel="stylesheet">
    <link href="/css/timeline.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/pygments/xcode.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="{{ site.favicon }}">
    <link rel="icon" type="image/png" href="{{ site.favicon-16x16 }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ site.favicon-32x32 }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.favicon-64x64 }}" sizes="64x64">
    <link rel="icon" type="image/png" href="{{ site.favicon-96x96 }}" sizes="96x96">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.favicon-57x57 }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.favicon-114x114 }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.favicon-72x72 }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.favicon-144x144 }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.favicon-60x60 }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.favicon-120x120 }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.favicon-76x76 }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.favicon-152x152 }}">
    <!-- <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"> -->

    <!-- Piwik at tracker.any-good -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//tracker.any-good.net/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//tracker.any-good.net/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    <!-- clickheat at tracker.any-good -->
    <script type="text/javascript" src="http://tracker.any-good.net/piwik/plugins/ClickHeat/libs/js/clickheat.js"></script><noscript><p><a href="http://www.dugwood.com/index.html">Heatmap plugin</a></p></noscript><script type="text/javascript"><!--
    clickHeatSite = 1;clickHeatGroup = encodeURIComponent(window.location.pathname+window.location.search);clickHeatServer = 'http://tracker.any-good.net/piwik/plugins/ClickHeat/libs/click.php';initClickHeat(); //-->
    </script>
    <!-- End clickheat at tracker.any-good -->
</head>
